

<ion-content [fullscreen]="true" color="fondo2">
    <ion-item color="item">
        <ion-avatar class="item-avatar" slot="start">
          <img class="ion-avatar-imagen" src="assets/icon/farm.jpg"/>
        </ion-avatar>
        <ion-label>
          <h1 style="color: black;">American Life</h1>
          <p style="font-size: medium;color: #4d4d4d;">Empresa farmaceutica</p>
        </ion-label>
      </ion-item>

      <ion-card style="background-color: #357fd3 ;">
          <ion-card-content>
            <ion-label>
                <p style="color: white;">Somos una empresa farmaceutica que vela por la salud de las personas y la divulgacion de informacion 
                    acerca de el cuidado propio de la salud personal.
                </p>
                <p style="color: white;">Tambien quisimos crear esta aplicacion para darle a la gente
                    un servicio el cual vendria siendo recordarle al usuario en que momento debe 
                    tomar/ingerir sus medicamentos, porque sabemos que todos tenemos asuntos que resolver
                    y se nos puede olvidar el tomarnos nuestro medicamentos si estamos enfermos o ya sea por un 
                    padecimiento cronico.
                </p>
            </ion-label>
          </ion-card-content>
      </ion-card>
      <ion-card style="background-color: #357fd3 ;">
          <ion-card-content>
            <ion-label>
                <p style="color: white;">Contacto: American_Life@outlook.com</p>
                <p style="color: white;">Telefono: 81-9999-9999 y 5555-5555</p>
            </ion-label>
          </ion-card-content>
      </ion-card>
</ion-content>
