ion-tab-bar{
    background-color: var(--ion-color-tabbarcolor);
}

ion-label{
    color: #ffff;
}

ion-icon{
    color: #ffff;
}

ion-content{
    background-color: var(--ion-color-fondo);
}

.ion-label{
    font-family: Anton !important;
}



