$coloresheader:(
    fondoheader:#0a5fb4,
);

ion-header{
    background-color: #0a5fb4;
}

ion-title{
    color: white;
}

ion-icon{
    color:white;
}

.ion-title{
    font-family: Anton !important;
    
}

.imagen-avatar{
    width: 46px;
    height: 46px;

}







    
