

<ion-content [fullscreen]="true" color="fondo2">

  <ion-card style="background-color: #357fd3 ;">
    <ion-card-header>
      <ion-card-title  class="ion-card-font" style="color: black;">
        Metroporol
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-label slot="start">
        <p class="ion-card-font" style="color: white;">Mar,Jue,Sab</p>
        <p  class="ion-card-font" style="color: white;">recordatorio: 7 p.m.</p>
        <p class="ion-card-font" style="color:white">Cantidad: 2 tabletas de 5mg</p>
      </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card style="background-color: #357fd3 ;">
    <ion-card-header>
      <ion-card-title  class="ion-card-font" style="color: black;">
        Dexametasona
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label slot="start">
        <p class="ion-card-font" style="color: white;">Lun,Mier,Vier</p>
        <p  class="ion-card-font" style="color: white;">recordatorio: 5 p.m.</p>
        <p class="ion-card-font" style="color:white">Cantidad: 1 tableta de 3mg</p>
      </ion-label>
    </ion-card-content>
  </ion-card>

</ion-content>
